/*Adminimal theme overrides*/

.field-widget-storyserver-story-widget {
  background-color: #cbe3ff;
}

.field-widget-storyserver-story-widget fieldset {
  border: 3px solid #0074BD;
}

.field-widget-storyserver-story-widget fieldset  legend {
  background: transparent;
  position: absolute;
  display: block;
  padding: 8px 0 8px 28px;
  margin-left: -2px;
  background-image: url(images/storyserver-logo.png) !important;
  background-size: 20px 35px !important;
  background-repeat: no-repeat !important;
  background-position: left;
}

.field-widget-storyserver-story-widget .fieldset-wrapper {
  margin-top: 50px;
}

.field-widget-storyserver-story-widget .fieldset-wrapper label {
  font-size: 16px;
}

.field-widget-storyserver-story-widget .storyserver-id {
  min-width: 200px;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #CCC;
  box-sizing: border-box;
  padding: 0;
  border-radius: 0;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-container--open .select2-dropdown--below {
  box-sizing: border-box;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search .select2-search--dropdown {
  box-sizing: border-box;
}

/*.select2-container--default .select2-search--dropdown .select2-search__field {*/
.select2-container--default .select2-search--dropdown input[type="search"] {
  /*Remove Webkit search input defaults*/
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  box-sizing: border-box;
  margin: 0;
  padding: 6px 3px;
  outline: none;
  border: 1px solid #0074BD;
  background-image: url(images/search.png) !important;
  background-size: 20px 13px !important;
  background-repeat: no-repeat !important;
  background-position: right;
}

/*.select2-container--default .select2-search--dropdown .select2-search__field:focus {*/
.select2-container--default .select2-search--dropdown input[type="search"]:focus {
  outline: none;
  border: 1px solid #0074BD;
}

.select2-results__options li {
  color: #666;
}

.storyserver-remove-story {
  color: #FFF !important;
  background: #b73939 !important;
  transition: all, 0.3s;
}

.storyserver-remove-story:hover {
  background: #8c3131 !important;
  transition: all, 0.3s;
}