/*Admin theme overrides*/

.field--widget-storyserver-story-widget fieldset {
  border: 3px solid #0074BD;
}

.field--widget-storyserver-story-widget fieldset:not(.fieldgroup) {
  background-color: #cbe3ff;
}

.field--widget-storyserver-story-widget fieldset legend {
  background: transparent;
  position: absolute;
  display: block;
  padding: 8px 0 8px 28px;
  margin-left: -2px;
  background-image: url(images/storyserver-logo.png) !important;
  background-size: 20px 35px !important;
  background-repeat: no-repeat !important;
  background-position: left;
}

.field--widget-storyserver-story-widget .fieldset-wrapper {
  margin-top: 30px;
}

.field--widget-storyserver-story-widget .storyserver-id {
  min-width: 250px;
}

.select2-container--default .select2-selection--single {
  color: #222;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #a6a6a6;
  border-radius: 0.143em;
  background: -webkit-linear-gradient(top, #f6f6f3, #e7e7df);
  background: -moz-linear-gradient(top, #f6f6f3, #e7e7df);
  background: linear-gradient(top, #f6f6f3, #e7e7df);
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
  font-size: 0.875rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-font-smoothing: antialiased;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #222;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #222 transparent transparent transparent;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #222;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-container--open .select2-dropdown--below {
  box-sizing: border-box;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search .select2-search--dropdown {
  box-sizing: border-box;
}

/*.select2-container--default .select2-search--dropdown .select2-search__field {*/
.select2-container--default .select2-search--dropdown input[type="search"] {
  /*Remove Webkit search input defaults*/
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  box-sizing: border-box;
  margin: 0;
  padding: 6px 3px;
  outline: none;
  border: 1px solid #0074BD;
  background-image: url(images/search.png) !important;
  background-size: 20px 13px !important;
  background-repeat: no-repeat !important;
  background-position: right;
}

/*.select2-container--default .select2-search--dropdown .select2-search__field:focus {*/
.select2-container--default .select2-search--dropdown input[type="search"]:focus {
  outline: none;
  border: 1px solid #0074BD;
}

.select2-results__options li {
  color: #666;
}

.storyserver-remove-story {
  border-radius: 0 !important;
  text-shadow: none !important;
  margin: 0 !important;
  color: #FFF !important;
  background: #b73939 !important;
  transition: all, 0.3s;
}

.storyserver-remove-story:hover {
  background: #8c3131 !important;
  transition: all, 0.3s;
}